body {
  background: hsl(33, 31%, 87%);
}
.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
button {
  text-transform: capitalize;
  border: 1px solid hsl(33, 31%, 27%);
  color: #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.8s;
}

.multiple-selection {
  background: hsl(33, 31%, 57%);
}
.accordian {
  width: 500px;
}
.item {
  background: hsl(33, 31%, 27%);
  margin-bottom: 10px;
  padding: 10px 20px;
}
.title {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.content {
  color: #fff;
  height: auto;
}
